<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}:%p %l - %m%n"/>
		</layout>
    </appender>
	<appender name="ServerStart" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="D:/log/socket/serverStart.log"/>
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
		<param name="Encoding" value="UTF-8"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss} %m %n"/>
		</layout>
	</appender>

	<logger name="com.leo.ServerStart" additivity="false">
		<level value="debug"/>
		<appender-ref ref="stdout"/>
	</logger>

	<root>
		<level value="error"/>
		<appender-ref ref="stdout"/>
	</root>
</log4j:configuration>
